.reviewer {
  width: calc(100% - 50px);
}
:global(.swiper-horizontal > .swiper-pagination-bullets),
:global(.swiper-pagination-bullets.swiper-pagination-horizontal) {
  position: relative;
  margin-top: 20px;
}
:global(.swiper-pagination > .swiper-pagination-bullet) {
  width: 15px;
  height: 15px;
}
