@import "tailwindcss";

body {
  background-color: #f6f4ff;
}

@theme {
  --color-primary: #6a49f3;
  --color-secondary: #391e6c;
  --color-gray: #3e3f66;
  --color-light-purple: #f6f4ff;
  --color-dark-purple: #32236f;
  --color-orange: #ff956b;
  --color-light-black: #212529;
  --breakpoint-sm: 600;
  --breakpoint-md: 960;
  --breakpoint-lg: 1280;
  --breakpoint-xl: 1440;
}
