.header_container {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.test li a {
  padding: 5px 16px;
  color: #3e3f66;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.icon_style {
  display: inline;
  color: #3e3f66;
  position: relative;
  right: 12px;
}
